.input_group_div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
    margin-left: 20px;
}

.input_group_div label, .input_group_div input {
    cursor: pointer;
    margin-left: 5px;
    margin-right: 5px;
}

.top_div {
    display: flex;
    justify-content: flex-start;
}